body {
  margin: 0 5%;

  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  color: rgb(255, 0, 132);

  background-color: rgb(222, 243, 219);
}

h1, h2 {
  text-align: center;
}

img {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

ol h3,
ol p {
  margin: 0;
}

ol li {
  margin-bottom: 20px;
}

.recipe-image {
  width: 300px;
  height: auto;
}
